################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IndoorNavigation
/IndoorNavigation/IndoorNavigation/bin
/IndoorNavigation/IndoorNavigation/obj
/IndoorNavigation/IndoorNavigation.Android/bin/Debug
/IndoorNavigation/IndoorNavigation.Android/obj
/IndoorNavigation/IndoorNavigation/IndoorNavigation.csproj.user
/IndoorNavigation/IndoorNavigation.iOS/obj/iPhoneSimulator/Debug/build.force
/IndoorNavigation/IndoorNavigation.Android/bin/Release/com.companyname.IndoorNavigation.apk.mSYM/0b145880b879421e8a17e3350b177ed4
/IndoorNavigation/IndoorNavigation.Android/bin/Release/com.companyname.IndoorNavigation.apk.mSYM/0c508f2d6c0d4d96899823437fe0e09a
/IndoorNavigation/IndoorNavigation.Android/bin/Release/com.companyname.IndoorNavigation.apk.mSYM/1d297cfe46a9445e965564d677efa8b8
/IndoorNavigation/IndoorNavigation.Android/bin/Release/com.companyname.IndoorNavigation.apk.mSYM/1fea4c469924499b80ecf1d4597730b9
/IndoorNavigation/IndoorNavigation.Android/bin/Release/com.companyname.IndoorNavigation.apk.mSYM/2213e65041254f04b27ae6e57d256a86
/IndoorNavigation/IndoorNavigation.Android/bin/Release/com.companyname.IndoorNavigation.apk.mSYM
/IndoorNavigation/IndoorNavigation.Android/bin/Release
