################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IndoorNavigation
/IndoorNavigation/IndoorNavigation/bin
/IndoorNavigation/IndoorNavigation/obj
/IndoorNavigation/IndoorNavigation.Android/bin/Debug
/IndoorNavigation/IndoorNavigation.Android/obj
/IndoorNavigation/IndoorNavigation/IndoorNavigation.csproj.user
